{{/* Returns icon data for the given entity.

type: string // The type of entity (hub|class|member|enum|enumitem|type|typemember)
primary: string // The primary identifier.
secondary: string // The secondary identifier.

*/}}
{{$type := .type | lower}}
{{$res := false}}
{{$entityType := false}}
{{$title := false}}


{{if eq $type "hub"}}
	{{$res = partial "entity/icon-res.html" (dict "kind" "hub")}}
{{else if eq $type "typemember"}}
	{{$title = title .primary}}
	{{$res = partial "entity/icon-res.html" (dict "kind" "typemember" "type" (lower .primary))}}
{{else}}
	{{if eq $type "class"}}
		{{$entityType = "Class"}}
		{{$title = $entityType}}
		{{$res = partial "entity/icon-res.html" (dict "kind" "entity" "type" $entityType "name" .primary)}}
	{{else if eq $type "member"}}
		{{$dump := index site.Data.Dump.Classes .primary "Members" .secondary}}
		{{$entityType = $dump.MemberType}}
		{{$title = $entityType}}
		{{if eq $entityType "Property"}}
			{{$iconArgs_member := dict
				"kind" "entity"
				"type" $entityType
			}}

			{{$sec := slice}}
			{{if and (eq $dump.ReadSecurity $dump.WriteSecurity) (ne $dump.ReadSecurity "None" "")}}
				{{$sec = $sec | append (print "Read/Write: " $dump.ReadSecurity)}}
			{{else}}
				{{if and $dump.ReadSecurity (ne $dump.ReadSecurity "None")}}
					{{$sec = $sec | append (print "Read: " $dump.ReadSecurity)}}
				{{end}}
				{{if and $dump.WriteSecurity (ne $dump.WriteSecurity "None")}}
					{{$sec = $sec | append (print "Write: " $dump.WriteSecurity)}}
				{{end}}
			{{end}}

			{{if $sec}}
				{{$title = (printf "Protected %s (%s)" $title (delimit $sec ", "))}}
				{{/* this here merges */}}
				{{$iconArgs_member = merge $iconArgs_member (dict
					"protected" true
					"securityName" $dump.ReadSecurity
				)}}
			{{end}}

			{{$res = partial "entity/icon-res.html" $iconArgs_member}}
		{{else if or 
			(eq $entityType "Function")
			(eq $entityType "Event")
			(eq $entityType "Callback")
		}}
			{{$iconArgs_member := dict
				"kind" "entity"
				"type" $entityType
			}}
			
			{{if and $dump.Security (ne $dump.Security "None")}}
				{{$title = (printf "Protected %s (%s)" $title $dump.Security)}}
				{{$iconArgs_member = merge $iconArgs_member (dict
					"protected" true
					"securityName" $dump.Security
				)}}
			{{end}}

			{{$res = partial "entity/icon-res.html" $iconArgs_member}}
		{{end}}
	{{else if eq $type "enum"}}
		{{$entityType = "Enum"}}
		{{$title = $entityType}}
		{{$res = partial "entity/icon-res.html" (dict "kind" "entity" "type" $entityType)}}
	{{else if eq $type "enumitem"}}
		{{$entityType = "EnumItem"}}
		{{$title = $entityType}}
		{{$res = partial "entity/icon-res.html" (dict "kind" "entity" "type" $entityType)}}
	{{else if eq $type "type"}}
		{{$entityType = "Type"}}
		{{$cat := index site.Data.Index.Type .primary "Category"}}
		{{$title = print $cat " type"}}
		{{$res = partial "entity/icon-res.html" (dict "kind" "entity" "type" $entityType "category" $cat)}}
	{{end}}
{{end}}
{{return merge $res (dict "title" $title "type" $entityType)}}
